/dataset
/cache
/A0199724M-A0200198L-A0206022B-A0211551W
/queries
/old_submissions
/.idea
.DS_Store
*.pdf
dictionary.txt
lengths.txt
postings.txt
champion.txt
results.txt
*.zip
Notes about Court Hierarchy.txt
.vscode
__pycache__